.section {
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
  background-color:  rgb(255, 175, 77);
}

.photo {
  width: 20%;
  height: 130px;
  border: solid;
  border-color: black;
  border-width: 1px;
}

.name {
  width: 40%
}

.descript {
  font-family: Montserrat;
  font-size: 15px;
}

.buttons {
  width: 20%;
}

.input {
  outline: none;
  border: none;
  text-align: center;
  background-color:  rgb(255, 175, 76);
  font-size: 25px;
}

.plusMinus {
  border: none;
  background-color:  rgb(255, 175, 76);
  font-size: 25px;
  width: 20px;
  margin: 0 2px 0 2px;
  text-decoration: none;
  outline: none;
}

.price {
  width: 20%
}